// color変数
$site-color: #3F51B5;
$link-color: #FFFFFF;
$font-color: #333333;
$active-color: #E81919;
$card-background-color: #EFEFEF;
$hover-opacity: 0.6;

// ブレークポイント
$breakpoints: (
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;
// メディアクエリ
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 全体
body {
  font-family: "Yu Gothic", "游ゴシック体";
  line-height: 1.5;

  & .clear::after {
    content: "";
    clear: both;
    display: block;
  }
  & a {
    text-decoration: none;
    color: $link-color;
  }
  & img {
    max-width: 100%;
    height: auto;
    border: none;
  }
}

// header
header {
  padding: 30px;
  background-color: $site-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @include mq(sm){

  }

  & .header-inner {
    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  & .header-right {
  margin-left: auto;
  }
  & li {
    float: left;
    margin-left: 40px;
    font-size: 16px;
  }
  & a {
    color: $link-color;
    position: relative;
  }
  & a.is-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: $active-color;
    opacity: 1;
  }
}

// top
.top {
  background-image: url(../img/mainvisual.png);
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 600px;
  margin-top: 106px;
  position: relative;
  overflow: hidden;

  & .top-content {
  position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
  line-height: 1.2;
  
  }

  & .top-title {
    font-size: 64px;
    font-weight: bold;
    color: $font-color;
    margin-bottom: 32px;
  }
  & .top-subtitle {
    font-size: 24px;
    font-weight: bold;
    color: $font-color;
  }
  & .btn {
    border-radius: 8px;
    border: none;
    display: inline-block;
  }
  & .btn-contact {
    background-color: $site-color;
    color:$link-color;
    font-size: 24px;
    margin-top: 40px;
    box-shadow: 0 3px 6px  rgba(#000, 0.16);
    cursor: pointer;
    padding: 24px 120px;
    max-width: 100%;
  }
}

// card
.card {
  background-color: $card-background-color;
  color: $font-color;

  & .section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 100px;
    position: relative;
  }
  & .section-title::after {
    content: "";
    display: block;
    margin: 8px auto 0 auto;
    width: 60px;
    height: 4px;
    background-color: $site-color;
    opacity: 1;
  }
  & .card-items {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
  }
  & .card-item {
    width: calc(33.33333333% - 24px * 2 / 3);
    margin-right: 24px;
    margin-top: 24px;
    background-color: $link-color;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  & .media {
    padding: 16px;
    display: block;
    text-decoration: none;
    border-radius: 4px;
  }
  & .card-title {
    color: $font-color;
    font-size: 20px;
    font-weight: bold;
  }
  & .card-text {
    color: $font-color;
    font-size: 16px;
    font-weight: bold;
  }
}
