$background-color: #000;
$font-color: #FFF;
$site-color: orange;


/* body全体 */
body {
  line-height: 1.5;
  font-family: 'American Typewriter','Osaka',YuGothic,'Yu Gothic','Cambria',sans-serif;
  color: $font-color;
  background-color: $background-color;

}
a {
  text-decoration: none;
  color: $font-color;
}
a:hover {
  opacity: 0.7;
  text-decoration: none;
  color: $site-color;
}
.container {
  width: 90%;
  min-width: 980px;
  margin: 0 auto;
  padding: 60px 0;
}
.clear::after {
  content: "";
  clear: both;
  display: block;
}
.orange {
  color: $site-color;
}



/* header */
header {
  padding: 20px 0;
  & .container {
    padding: 0;
  }

}
.header-left {
  float: left;

  & .header-title {
    font-weight: bold;
    font-size: 24px;
  }
}
.header-right {
  float: right;

  & .header-nav-item {
    float: left;
    margin-left: 30px;

    & a {
      line-height: 36px;
    }
    & a::after {
      content: "";
      width: 25px;
      height: 2px;
      background-color: $site-color;
      display: block;
      margin: 2px auto 0 auto;
    }
  }
}
/* top */
.top {
  background-image: url(../img/uniwa1.jpg);
  background-size: cover;
  height: 600px;
}

//about
.about-left {
  width: 65%;
  float: left;
  padding: 50px;

  & .about-heading {
    font-size: 40px;
    padding-bottom: 40px;
  }
}
.about-right {
  width: 35%;
  float: right;
  & img {
    text-align: center;
 
  }
}

//item
.item {

  & .item-heading {
    font-size: 40px;
    text-align: center;
  }

}

//contact
.contact {

  & .contact-heading {
    font-size: 40px;
    text-align: center;
  }
}