@charset "UTF-8";
/* body全体 */
body {
  line-height: 1.5;
  font-family: 'American Typewriter','Osaka',YuGothic,'Yu Gothic','Cambria',sans-serif;
  color: #FFF;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  color: orange;
}

.container {
  width: 90%;
  min-width: 980px;
  margin: 0 auto;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

/* header */
header {
  padding: 20px 0;
}

.header-left {
  float: left;
}

.header-left .header-title {
  font-weight: bold;
  font-size: 24px;
}

.header-right {
  float: right;
}

.header-right .header-nav-item {
  float: left;
  margin-left: 30px;
}

.header-right .header-nav-item a {
  line-height: 36px;
}

.header-right .header-nav-item a::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: orange;
  display: block;
  margin: 2px auto 0 auto;
}

/* top */
.top {
  background-image: url(../img/uniwa1.jpg);
  background-size: cover;
  width: 500px;
}
